---
layout: default
---
<!-- Services -->
<div id="services" class="section alt-bg">
  <div class="container">
    <h3 class="text-center mb-5">Our Services</h3>
    <div class="row">
        <div class="service col-md-4 col-sm-6">
            <a href="{% link hearing-instruments.html %}">
            <div class="card text-center">
                <div class="icon px-4 py-3"><img src="{{ 'assets/images/fitting.jpg' | relative_url }}" alt="Hearing Aid Fitting Los Angeles, CA" class="img-fluid img-thumbnail"></div>
                <div class="text px-4 pb-5">
                    <h5>Hearing Instruments</h5>
                    <p>Fitting, programming, and configuration of your hearing instuments.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="service col-md-4 col-sm-6">
            <a href="{% link maintenance.html %}">
            <div class="card text-center">
                <div class="icon px-4 py-3"><img src="{{ 'assets/images/adjusting_replacing.jpg' | relative_url }}" alt="Hearing Aid Fitting Los Angeles, CA" class="img-fluid img-thumbnail"></div>
                <div class="text px-4 pb-5">
                    <h5>Hearing Aid Maintenance</h5>
                    <p>Providing repairs, adjustments, and cleaning of your hearing aids.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="service col-md-4 col-sm-6">
            <a href="{% link audiology.html %}">
            <div class="card text-center">
                <div class="icon px-4 py-3"><img src="{{ 'assets/images/adjustments.jpg' | relative_url }}" alt="Hearing Aid Fitting Los Angeles, CA" class="img-fluid img-thumbnail"></div>
                <div class="text px-4 pb-5">
                    <h5>Audiology Services</h5>
                    <p>Our audiology services include an array of audiological evaluation and testing.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="service col-sm-12">
            <div class="fluid-paragraph text-center mt-5">
                <p>
                    <strong class="h5">
                        <a href="#" class="btn cta-btn rounded-pill dark btn-icon" data-toggle="modal" data-target="#plugModal">
                            <span class="cta-icon"><i class="far fa-film"></i></span>
                            <span class="cta-text">In the film or music industry?</span>
                        </a>
                    </strong>
                </p> 
                <p>We also provide custom ear plug services.</p>
                <!-- Modal -->
                <div class="modal fade" id="plugModal" tabindex="-1" role="dialog" aria-labelledby="plugModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="plugModalLabel">Custom Ear Plug Services</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p class="lead">Whether you are in the film or music industry or an avid concert or loud nightclub attendee, we proudly offer Westone etymotic earplugs to protect your hearing.</p> 
                        <p>These custom designed earplugs come in three levels of attenuation (9 dB, 15 dB and 25 dB) that reduce loudness equally at all frequencies without any degradation in fidelity.</p>
                        <p>Etymotic earplugs are made of a medical grade silicone and will provide you with years of uninterrupted  performance. The manufacturer provides one set of filters for the level of attenuation that you select. Additionally, a second plug for maximum sound reduction is supplied at no charge for situations that require sound deadening when loss of fidelity is not an issue.</p>
                        <p>We have provided thousands of these plugs since their introduction in the 1990s.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- About -->
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid img-center" src="{{ 'assets/images/jeff.jpg' | relative_url }}" alt="Audiologist Los Angeles">
            </div>
            <div class="col-sm-6">
                <h3>Our Pledge to You</h3>
                <p class="lead mt-4"><strong class="default-text">Hearing Aid Services of Hollywood</strong>, is the full-service audiology and hearing aid practice that has been serving the greater Los Angeles area for over 70 years.</p>
                <p>Your life will change dramatically when you begin wearing your new hearing instruments. Because your devices will be correctly fitted and properly programmed, you will rapidly get accustomed to wearing them and find them easy to use. You will be amazed at how your hearing aids reopen the world of sound and restore pleasure to your life.</p> <p>Sooner than you might think, daily use of your instruments will be as routine as putting on a pair of glasses or placing your car keys in your pocket. And, chances are, most people won’t realize you’re wearing them!</p>
                <p>Thousands of Southern Californians agree that Hearing Aid Services of Hollywood is the right choice for their audiology needs.</p>
            </div>
            <div class="fluid-paragraph text-center mt-5">
                <p><a href="{% post_url 2020-11-17-meet-audiologist %}">Meet Jeff Grama, M.A.</a> and learn what to consider when selecting an audiologist.</p>
            </div>
            <div class="fluid-paragraph text-center">
                <a href="#" data-toggle="modal" data-target="#hearing_bargain" class="btn cta-btn rounded-pill dark">Are You Looking for a Hearing Aid Bargain?</a>
            </div>
            {% include bargain.html %}
        </div>
    </div>
</div>

<!-- Reviews -->
<div id="reviews" class="section parallax-section bg-gradient" style="background-image:url({{ 'assets/images/outro.jpg' | relative_url }})">
    <div class="container">
        <div class="mb-5 text-center text-white">
            <h3 class=" mt-4 text-white">What our patients say</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead lh-180">At Hearing Aid Services of Hollywood, we strive to make our patients feel as welcome and comfortable as possible.</p>
            </div>
        </div>
        <div class="row justify-content-center">
        {% for review in site.data.reviews %}
            {% if review.featured == true %}
               <div class="col-md-4 p-4">
                    <div class="review card">
                        <div class="card-body">
                            <h5 class="mb-0">{{review.title}}</h5>
                            <small class="text-muted d-block">- {{review.author}}</small>
                            <div class="review-body mt-4 lh-180">
                                <p>{{review.review}}</p>
                            </div>
                            <span>
                                {% for i in (1..5) %}
                                    {% if i <= review.rating %}
                                        <i class='fa fa-star default-text'></i>
                                    {% else %}
                                        <i class='fa fa-star text-muted'></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div> 
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% include questions.html %}
{% include veterans.html %}