    <section class="section" id="contact">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-lg-6">
            <h3>Contact us</h3>
            <p class="lead">Simply click the button below, to send us an email and we will be in touch shortly.</p>
            <p><strong>Hours:</strong> 10am - 6pm, Monday - Friday </p>
            <a href="mailto:info@lahearing.com?subject=New LA Hearing inquiry" class="btn btn-dark cta-btn rounded-pill mt-4">Email Us</a>
            <a href="https://www.google.com/maps/dir//Hearing+Aid+Services+of+Hollywood,+Hollywood+Boulevard+%23814,+Los+Angeles,+CA/@34.1011453,-118.4144968,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2bf205f5b6bef:0x10858db96aa45d39!2m2!1d-118.3444567!2d34.1011652" target="_blank" class="mt-4 cta-btn btn-light btn rounded-pill btn-icon rounded-pill">
                <span class="cta-icon"><i class="far fa-map"></i></span>
                <span class="cta-text">Get Directions</span>
            </a>
          </div>
          <div class="col-lg-5 ml-lg-auto">
            <h3>7080 Hollywood Blvd #814<br>Los Angeles, CA 90028 </h3>
            <p class="lead my-4">E: info@lahearing.com <br>T: (323) 463-7109 </p>
            <p>Jeff Grama, M.A., completed his undergraduate training at UCLA in 1972 and received his Master of Arts degree in Audiology from San Diego State University in 1975. He previously worked for a world-renowned speech and hearing center and a major hearing aid manufacturer. In 1983, Mr. Grama purchased Hearing Aid Services of Hollywood. He has over 35 years of experience in the fields of audiology and hearing aid dispensing.</p>
          </div>
        </div>
      </div>
    </section>
    
<!-- Footer -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="copyright text-muted">
                        Copyright &copy; <a href="{% link index.html %}">{{site.title}}</a> {{ 'now' | date: "%Y" }}
                    </p>
                    <div class="powered-by" style="text-align: center; margin-top: 30px;">
                        <a href="https://www.wevelo.com" target="_blank"><img src="{{ 'assets/images/wevelo_byline_white.png' | relative_url }}" title="Wevelo Web & Graphic Design " alt="Site powered by Wevelo Digital Design Studio, Fort Collins CO"></a>
                    </div>
                    <small class="attribution">
                        <small>Thanks to <a href="https://www.freepik.com/free-photos-vectors/Infographic">Freepik</a> for help with background illustrations</small>
                    </small>
                </div>
            </div>
        </div>
    </footer>
    <!-- Contact Modal -->
    <div class="modal modal-dark fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Get In Touch</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="card text-center">
                    <div class="icon px-4 py-3"><i class="fas fa-phone"></i></div>
                    <div class="text px-4 py-5">
                        <h5>Get in touch</h5>
                        <p>Please call <strong>‭(970) 430-6029‬</strong> to schedule a consultation today and we will find the solutions to your technology needs.</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
    </div>

</body>

</html>
