<section id="faq" class="section">
    <div class="container" id="questions">
        <h3 class="mb-5 text-center">Frequently Asked Questions</h3>
        <div class="row" id="accordion">
            <div class="col-sm-6">
                <h5><a class="collapsed" data-toggle="collapse" href="#q1" role="button" aria-expanded="false" aria-controls="q1"><strong class="default-text">&#8226;</strong> Why can I hear but can’t understand speech?</a></h5>
                <div id="q1" class="collapse" aria-labelledby="q1" data-parent="#accordion">
                    <p>Seventy-five percent of the speech information in English is found in the high-frequency consonant sounds. The remaining 25 percent is made up of vowels in the low and mid-frequencies. Since most acquired hearing loss is in the high frequency regions, it stands to reason that one could hear a voice by hearing the vowel sounds, yet still be unable to understand because the consonants are not heard.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q3" role="button" aria-expanded="false" aria-controls="q3"><strong class="default-text">&#8226;</strong> Will my hearing get worse?</a></h5>
                <div id="q3" class="collapse" aria-labelledby="q3" data-parent="#accordion">
                    <p>Whether it will worsen depends on what has caused your hearing loss. If your loss is due to a condition such as otosclerosis, diabetes, kidney disease or high blood pressure, it likely will get worse. However, seventy percent of hearing aid users without those conditions have their hearing stabilize once they are fitted and use their instruments on a regular basis. We recommend that you have your hearing evaluated every year.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q5" role="button" aria-expanded="false" aria-controls="q5"><strong class="default-text">&#8226;</strong> Can you stop the ringing in my ears?</a></h5>
                <div id="q5" class="collapse" aria-labelledby="q5" data-parent="#accordion">
                    <p>There is no way to stop the ringing (tinnitus) that you experience. However, your hearing aids can provide some relief. They increase the soft sounds in your listening environment. When you hear more soft sounds, you’ll experience less tinnitus because the soft sounds will compete with and overshadow the tinnitus.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q7" role="button" aria-expanded="false" aria-controls="q7"><strong class="default-text">&#8226;</strong> Should I see a doctor before seeing you?</a></h5>
                <div id="q7" class="collapse" aria-labelledby="q7" data-parent="#accordion">
                    <p>Audiologists are trained to identify abnormalities and medical conditions of the ear. They do not treat medical conditions. If a visual inspection (otoscopy) and/or the hearing examination results suggest that a medical condition exists, the audiologist will make a referral to an ear, nose and throat specialist or back to the referring physician.</p>
                    <p>If no conditions are present that warrant a referral, you can feel assured that there would be little gained by seeing a doctor.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q9" role="button" aria-expanded="false" aria-controls="q9"><strong class="default-text">&#8226;</strong> What is the best hearing aid?</a></h5>
                <div id="q9" class="collapse" aria-labelledby="q9" data-parent="#accordion">
                    <p>The simple answer is they all make the best products AND none of them make the best products.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q11" role="button" aria-expanded="false" aria-controls="q11"><strong class="default-text">&#8226;</strong> How effective are disposable hearing aids?</a></h5>
                <div id="q11" class="collapse" aria-labelledby="q11" data-parent="#accordion">
                    <p>Disposable hearing aids are inferior products because they do not address the unique needs of your hearing impairment. They are produced with identical circuits, so everybody gets the same correction regardless of the degree of hearing loss. These aids are uncomfortable, will whistle and often fall out of your ear with any head or jaw movement. For these reasons, you should not purchase disposable hearing aids.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q13" role="button" aria-expanded="false" aria-controls="q13"><strong class="default-text">&#8226;</strong> Should you consider extended wear hearing aids?</a></h5>
                <div id="q13" class="collapse" aria-labelledby="q13" data-parent="#accordion">
                    <p>Recently, you may have seen ads praising the virtues of new hearing aids that fit deep within the ear canal. These devices, called extended wear hearing aids (EWHAs), were developed in response to patient demand.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <h5><a class="collapsed" data-toggle="collapse" href="#q2" role="button" aria-expanded="false" aria-controls="q2"><strong class="default-text">&#8226;</strong> Would invisible hearing aids work for you?</a></h5>
                <div id="q2" class="collapse" aria-labelledby="q2" data-parent="#accordion"> 
                    <p>The leading manufacturers have developed an invisible-in-the-canal (IIC) instrument. This design has been the demand of many in the public eye (actors, for example) and others who, for one reason or another, want an unnoticeable solution for their hearing loss.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q4" role="button" aria-expanded="false" aria-controls="q4"><strong class="default-text">&#8226;</strong> Won’t hearing aids make noise louder?</a></h5>
                <div id="q4" class="collapse" aria-labelledby="q4" data-parent="#accordion">
                    <p>Digital hearing aid circuits have been designed to differentiate whether a sound is speech or noise. The hearing aid microprocessor automatically increases the speech signals it detects and, likewise, decreases the level of the background noises it senses. So, speech becomes clearer without increasing noise.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q6" role="button" aria-expanded="false" aria-controls="q6"><strong class="default-text">&#8226;</strong> Can I sleep with my hearing aids?</a></h5>
                <div id="q6" class="collapse" aria-labelledby="q6" data-parent="#accordion">
                    <p>We recommend that you avoid sleeping with your hearing aids. You might break them or lose them in the bedding.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q8" role="button" aria-expanded="false" aria-controls="q8"><strong class="default-text">&#8226;</strong> Should you repair or replace your old hearing aids?</a></h5>
                <div id="q8" class="collapse" aria-labelledby="q8" data-parent="#accordion">
                    <p>If your hearing aids are four years or older, it may be time to consider purchasing new units. Repairing your old instruments will restore their original function but never match the performance of current technology. If you decide to purchase new instruments, we recommend that you have your old units repaired for use as back-ups in the event you lose or damage the new ones.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q10" role="button" aria-expanded="false" aria-controls="q10"><strong class="default-text">&#8226;</strong> What should I do if my hearing aids get wet?</a></h5>
                <div id="q10" class="collapse" aria-labelledby="q10" data-parent="#accordion">
                    <p>If you have purchased hearing aids made after 2009, your products have a water repelling feature called nanocoating. This process is used in microelectronic circuitry throughout the world. Hearing aids made before 2009 do not have nanocoating, so extra care should be taken when near water.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q12" role="button" aria-expanded="false" aria-controls="q12"><strong class="default-text">&#8226;</strong> Why is it important to use proper hearing aid batteries?</a></h5>
                <div id="q12" class="collapse" aria-labelledby="q12" data-parent="#accordion">
                    <p>The use of premium batteries is essential to the performance of all hearing aids. Often,  lower quality batteries are weak or dead in the package. Non-premium batteries can also have a reduced thickness that can cause your hearing aids to work intermittently or not at all.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q14" role="button" aria-expanded="false" aria-controls="q14"><strong class="default-text">&#8226;</strong> Where should you store your batteries?</a></h5>
                <div id="q14" class="collapse" aria-labelledby="q14" data-parent="#accordion">
                    <p>Hearing aid batteries are air-activated and should be stored in a fairly dry environment. Avoid storing batteries in humid or hot environments, such as bathrooms or the glovebox of your car. Never store them in a refrigerator or freezer. Cold, dry air will separate the seal and cause the battery to discharge. A dresser drawer or nightstand is a good location.</p>
                </div>
                <h5><a class="collapsed" data-toggle="collapse" href="#q16" role="button" aria-expanded="false" aria-controls="q16"><strong class="default-text">&#8226;</strong> Are there payment plans available?</a></h5>
                <div id="q16" class="collapse" aria-labelledby="q16" data-parent="#accordion">
                    <p>Hearing Aid Services of Hollywood offers CareCredit – a valuable financing program that gives our patients more control over their hearing instrument purchases.</p>
                </div>
            </div>
        </div>
    </div>
</section>
