<div class="section alt-bg">
	<div class="container">
		<h3 class="text-center mb-4">A Special Message to Our Veterans</h2>
		<div class="row">
			<div class="col-sm-9">
				<p class="welcome">All too often we take our blessings as Americans for granted. Our veterans are owed a debt of gratitude for putting their lives on the line. Without their efforts, we could not continue to enjoy the precious freedoms that the founding fathers laid out in the Constitution. <a href="#" data-target="#veterans" data-toggle="modal">Read More ...</a></p>
			</div>
			<div class="col-sm-3">
				<img src="{{ 'assets/images/veterans.jpg' | relative_url }}" alt="Hearing Aids Los Angelos" class="img-fluid img-thumbnail">
			</div>
		</div>
	</div>
</div>

<!-- Veterans modal -->
<div class="modal" id="veterans">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">A Special Message to Our Veterans</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      	<div class="float-left pr-2"><img src="{{ 'assets/images/veterans.jpg' | relative_url }}" alt="Hearing Aids Los Angelos" class="img-fluid img-thumbnail"></div>
      	<p>All too often we take our blessings as Americans for granted. Our veterans are owed a debt of gratitude for putting their lives on the line. Without their efforts, we could not continue to enjoy the precious freedoms that the founding fathers laid out in the Constitution.</p>
		<p>Soldiers are exposed to a tremendous amount of noise when on active duty, so hearing loss is not uncommon. After being discharged from the military, all veterans undergo a rigorous series of exams to determine if a hearing loss is present and, if the tests are positive, to evaluate its severity. I am contracted with a subsidiary of the Veterans Administration to help make these determinations. Those with diagnosed hearing loss attributed to their military service are eligible to receive high-quality hearing instruments through the VA Healthcare System.</p>
		<p>In my practice, fitting of new hearing instruments involves an in-depth protocol that ensures that the devices meet the patient’s needs and expectations in a wide variety of listening situations. The average appointment is at least 60 minutes. Unfortunately, the time available for VA audiologists to fit and program veterans’ hearing instruments is limited by high patient demand. Many veterans have commented that they wished they could hear more clearly with their VA-issued hearing aids, but they often must wait up to six months for an appointment with an audiologist.</p>
		<p>I frequently witness the frustration that veterans experience with the limited performance of their hearing aids, and it honestly breaks my heart. In 2013, I made it my unadvertised mission to provide fitting and programming, free of charge, for all veterans issued hearing aids through the VA system. That mission continues in 2017 and beyond. If you know veterans who wear hearing aids, but wish they could hear more clearly, please pass on our contact information. We feel this is the least we can do to thank them for their service to our country and to welcome them back home.</p>
      </div>
    </div>
  </div>
</div>